/* Général */
* {
	font-family: 'Roboto', sans-serif;
}

header a {
	color: black;
}


  

.flex {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-back {
display: flex;
color: #353535;
}

.bloc-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 63px;
}

.size-img {
	width: 100%;
    max-width: 100%;
	max-height: 32rem;
	object-fit: cover;
}

.title-restau {
	font-family: 'Shrikhand';
	font-weight: 400;
	padding-top: 20px;
	padding-left: 20px;
}

.menu {
	width: 100%;
	background-color: #F7F7F7;
	border-radius: 25px 25px;
	position: relative;
	top: -20px;
	z-index: 1;
}

.fa-xl1 {
	cursor: pointer;
	margin-left: 1rem;
}

.fa-xl2 {
	padding-top: 20px;
	padding-left: 50px;
	cursor: pointer;
}

/* LOADER */

.loader-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: hideLoader 2.5s forwards;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2057px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.705);
	animation: hideLoader 2.5s forwards;
  }

  @keyframes loader {
	100% {
	  transform: translateY(-30px);
	}
  }
  
  @keyframes hideLoader {
	0%, 90% {
	  opacity: 1;
	  visibility: visible;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	}
  }
  
  .dot {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 15px;
	animation: loader infinite 0.3s alternate;
  }
  
  .d1 {
	background-color: #9356DC;
  }
  
  .d2 {
	background-color: #FF79DA;
	animation-delay: 0.05s;
  }
  
  .d3 {
	background-color: #99E2D0;
	animation-delay: 0.1s;
  }
  
  @keyframes loader {
	100% {
	  transform: translateY(-30px);
	}
  }
  
  @keyframes hideLoader {
	0%, 90% {
	  opacity: 1;
	  visibility: visible;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	}
  }

/* TEST HOVER COEUR */


.upper {
	font-family:'roboto';
	text-transform: uppercase;
	font-weight:lighter;
	margin-left: 13px;
	border-bottom: 3px solid #99E2D0;
	width: 40px;
	font-style: normal;
}

.food-item {
	width: 94%;
	height: 90px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	padding-top: 2px;
	opacity: 0;
	transform: translateY(20px);
	cursor: pointer;
	animation: fadeInFromLeft 2s ease-out forwards;
  }
  
  .entr > .food-item:nth-child(2) {
	animation-delay: 0s;
  }
  
  .entr > .food-item:nth-child(3) {
	animation-delay: 0.25s;
  }
  
  .entr > .food-item:nth-child(4) {
	animation-delay: 0.5s;
  }
  
  .plats > .food-item:nth-child(2) {
	animation-delay: 0.75s;
  }
  
  .plats > .food-item:nth-child(3) {
	animation-delay: 1s;
  }
  
  .plats > .food-item:nth-child(4) {
	animation-delay: 1.25s;
  }
  
  .desserts > .food-item:nth-child(2) {
	animation-delay: 1.5s;
  }
  
  .desserts > .food-item:nth-child(3) {
	animation-delay: 1.75s;
  }
  
  .desserts > .food-item:nth-child(4) {
	animation-delay: 2s;
  }
  
  @keyframes fadeInFromLeft {
	0% {
	  opacity: 0;
	  transform: translateX(-20px);
	}
	100% {
	  opacity: 1;
	  transform: none;
	}
  }
  
  
  
  

.button {
	font-family: 'roboto';
	display: flex;
	width: 50%;
	height: 50px;
	background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
	border-radius: 25px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	color: white;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 25%;
}

.marge1 {
	margin-left: 15px;
	font-weight: bold;
}

.marge2 {
	margin-left: 15px;
}

.price {
	display: flex;
	justify-content: flex-end;
	font-weight: 700;
	margin-right: 30px;
	margin-top: -50px;
}

/* FOOTER */

.logo-footer {
	font-family: 'Shrikhand';
	font-size: 18px;
	line-height: 26px;
	color: white;
}

.icon-footer {
	color: white;
	padding-right: 7px;
}

footer {
	width: 100%;
	height: 186px;
	background-color: #353535;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-top: 22px;
	color: white;
}

footer a {
	color: white;
	text-decoration: none;
}

/* Responsive */

@media (min-width: 768px) {

	/* logo */

.bloc-logo {
}

.menu-desktop {
	
}

.food-item {
	justify-content: flex-end;
	width: 70%;
	height: 60px;
	border-top: 10px;
}

.marge1 {
margin-top: 10px;
height: 5px;
}

.marge2 {
	height: 0;
	margin-left: 15px;
}

.size-img {
}

.menu {
	top: -40px;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin-left: 15%;
	padding-bottom: 10px;
	border-radius: 25px 25px 0px 0px;
}

.flex {
justify-content: center;
}

.upper {
	margin-left: 16%;
}

.food-item {
margin-left: 15%;
}

.price {
	display: flex;
	justify-content: flex-end;
	font-weight: 700;
	margin-right: 25px;
	margin-top: -25px;
}

.entr {
	margin-bottom: 5%;
}

.plats {
	margin-bottom: 5%;
}

.desserts {
	margin-bottom: 5%;
}

.button {
	width: 15%;
	margin-left: 40%;
	margin-bottom: 40px;
}


/* Footer */

.logo-footer {
	margin-top: 12px;
}

.reverse {
	direction: ltr;
}

.flex-desktop {
	display: flex;
	direction: rtl;
	justify-content: space-around;
	margin-top: -40px;
}

footer {
	height: 114px;
}

.footer1 {
	margin-right: -2%;
	order: 4;
	cursor: pointer;
} 

.footer2 {
	margin-right: -2%;
	order: 3;
	cursor: pointer;
}

.footer3 {
	margin-right: -2%;
	order: 2;
	cursor: pointer;
}

footer4. {
	margin-right: -2%;
	order: 1;
	cursor: pointer;
	text-decoration: none;
} }