/* Général */
* {
	font-family: 'Roboto', sans-serif;
}

.stylefont {
	font-style: normal;
}

.bloc-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 14px;
}

.size-logo {
	margin-top: 14px;
}

.bloc-city {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background: #EAEAEA;
}

.icon-loc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 3px;
	color: #353535;
	;
}

a {
	text-decoration: none;
	color: white;
}

.flex {
	display: flex;
}

.size-city {
	display: flex;
	font-weight: bold;
	color: #353535;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F7F7F7;
}

.reserve {
	text-align: center;
	width: 275px;
	height: 68px;
	padding: 10px;
}

.discover {
	text-align: center;
	width: 315px;
	height: 46px;
	padding-bottom: 20px;
}

.button {
	display: flex;
	width: 218px;
	height: 50px;
	background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
	border-radius: 25px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	color: white;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	cursor: pointer;
}

.button-funct p {
	font-weight: 500;
}


/* Fonctionnement */
.fonctionnement {
	flex-direction: column;
}

.title {
	margin-left: 10%;
	margin-top: 5%;
}

.title2 {
	margin-left: 20px;
	padding-top: 54px;
	margin-bottom: 26px;
}


.icon-flex:hover {
	color: rgba(147, 86, 220, 1);
}

.icon-flex {
    margin-right: 20px;
    color: rgba(126, 126, 126, 1);
}

.number {
    width: 24px;
    height: 24px;
    background: rgba(147, 86, 220, 1);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.number-container {
    position: relative;
    left: -22px;
    margin-right: -12px;
    z-index: 1;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nouveau {
	width: 80px;
	height: 29px;
	background: #99E2D0;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	color: rgba(0, 135, 102, 1);
	margin-top: 10px;
	right: 2%;
	top: 5%;
}

.button-funct {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    width:80%;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 8%;
    padding-left: 12px; 
}

.restaurants {
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
}

.restau-card {
	position: relative;
	display: block;
	margin: auto;
	width: 80%;
	height: 220px;
	background-color: #FFFFFF;
	border-radius: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.size-img {
	object-fit: cover;
	width: 100%;
	height: 60%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.restau {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
}

.restau h3 {
	margin-bottom: 0;
	font-weight: bold;
}

.restau p {
	margin-top: 10px;
}

.heart-index {
margin-right: 25px;
}

.logo-footer {
	font-family: 'Shrikhand';
	font-size: 18px;
	line-height: 26px;
	color: white;
}

.icon-footer {
	color: white;
	padding-right: 7px;
}

footer {
	width: 100%;
	height: 186px;
	background-color: #353535;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-top: 22px;
	color: white;
}